#root {
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: aliceblue;
  box-shadow: 10px 15px 19px -4px ;
  border-radius: 30px;
  border: solid 1px #bebebe;
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
